* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}


h1 {
    color: white;
    background-color: #0b0b0b;
    padding: 10px;
    text-align: center;
    border-bottom: 4px orangered;
}

h2 {
    padding-left: 530px;

}

h3 {
    padding-left: 530px;
}

.headerparts {
    border-left: solid blue 6px;
    border-left-width: 6px;
    padding: 3px;
    color: #FFF;
    background-color: orangered;
}

.metaseobjetivos {
    width: 100%;

}

.metaseobjetivos .btn {
    width: 80%;
    display:block;
    margin-left: auto;
    margin-right: right;
}



.btn {  
    display: block;
    width:  100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #000000;
    color: #FFF;
    padding: 15px ;
    border-radius: 5px;
    
    
    

}

.btn:hover{
    transition: .5s;
    background-color: #29c85b;

}

#HELPGUIDE { 
    background-color: red;
    width: 21%;
    display: inline-block;
    margin: 1% 1%;
    padding: 8px;
    object-position: center;

}

#HELPGUIDE:hover{
    transition: .3s;
    background-color: #29c85b;
}

h4 {
    background-color: rgb(0, 94, 255);
    color: #FFF;
    display:block;
    font-size: 24px;
    padding-left: 450px;
}

.plans2023 {
    background-color: orangered ;
    color:#FFF;
    display: block;
    padding-left: 530px;
}


.junedate {
    padding-left: 530px;
}

.julydate {
    padding-left: 530px;

}


#junetransfer {
    padding-left:500px ;
}

#julytransfer {
    padding-left:500px ;
}






.img {
    padding-left: 600px;
    height: 100px;
    margin-bottom: 20px;
}






footer {
    background-color:#000000;
    color: #FFF;
    text-align: center;
    padding:80px;
}


